<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Faith Centre</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'faith_center.css' %}" />
</head>

<body>
    <div class="header">
        <h1>FAITH CENTER</h1>
    </div>
    <div class="container">
        <a href="https://roundme.com/tour/892522/edit/2800618" target="_blank" alt="Loading image">
            <img class="container-image" src="https://mail.google.com/mail/u/0?ui=2&ik=4d51e18e51&attid=0.1&permmsgid=msg-f:1742167981899514849&th=182d6c8c942e03e1&view=att&disp=safe&realattid=f_l79iv1ad0" alt="image" />
        </a>
    </div>
    <div class="container">
        <p>
            The Faith Centre of the college is built in a manner to deliver a spiritually evocative space and to accommodate its faculty, staff and students. The calm ambience of the faith centre acts as enabler to generate peace of mind and concentrate on spiritual
            and moral well being.
        </p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.444145248581!2d77.50026681418964!3d28.676357782400455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf243751a693f%3A0xbc66b5a2779cd3ae!2sFaith%20Centre!5e0!3m2!1sen!2sin!4v1661461194841!5m2!1sen!2sin"
            width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>

</html>