<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome to signin</h2>

    <form action="/signin" method="post">
        {% csrf_token%}
        <br>
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your Username(only characters or numbers)" required>
        <br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" required>
        <br>

        <button type="submit">Sign In</button>
    </form>
</body>

</html>